* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
  color: #f8f8f2;
}

window#waybar {
  background: #282a36;
}

/* Workspace Buttons */
#workspaces button label{
  color: #f8f8f2;
  padding: 0 10px;
}
#workspaces button.active label {
  color: #282a36;
}
#workspaces button.active {
  background: #ff79c6;
}

#clock, #battery, #pulseaudio, #tray, #language, #weather {
  padding: 0 10px;
  margin: 0 10px;
}

#language {
  margin: 0;
  color: #f8f8f2;
  border-bottom: 5px solid #ff79c6;
}

#custom-weather {
  margin: 0;
  color: #f8f8f2;
  border-bottom: 5px solid #8be9fd;
}

#pulseaudio {
  margin: 0;
  color: #f8f8f2;
  border-bottom: 5px solid #8be9fd;
}

#pulseaudio.muted {
  padding: 0 20px;
  color: #ff5555;
  border-bottom: 5px solid #ff5555;
}

#battery {
  margin: 0;
  color: #f8f8f2;
  border-bottom: 5px solid #8be9fd;
}

#clock {
  margin: 0;
  color: #f8f8f2;
  border-bottom: 5px solid #ff79c6;
}

#tray {
  margin: 0;
  color: #f8f8f2;
  border-bottom: 5px solid #ff79c6;
}
